
SUBSYSTEM=="block", KERNEL=="sd*1", ACTION=="add", RUN="/usr/bin/touch /tmp/usbin.lock"
SUBSYSTEM=="block", KERNEL=="sd*1", ACTION=="remove", RUN="/usr/bin/rm /tmp/usbin.lock"
