
SUBSYSTEM=="block", KERNEL=="sd*1", ACTION=="add", RUN="/usr/bin/grablog_in"
SUBSYSTEM=="block", KERNEL=="sd*1", ACTION=="remove", RUN="/usr/bin/grablog_out"
